HOSTNAME="local"
TLS_CERTIFICATE="whatever"
TLS_KEY="whatever"
DB_PASSWORD="password"
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"
GIGACHAT_CLIENT_ID="your_gigachat_client_id"
GIGACHAT_CLIENT_SECRET="your_gigachat_client_secret"