# Everything without extension (binaries), except some cases
*                                                                                           │
!*.*                                                                                        │
!*/                                                                                         │
!Makefile                                                                                   │
!Dockerfile 
!LICENSE

# Sensitive files
*.env
!template.env

# Logs
*.log